python-dotenv
streamlit
requests
pandas
streamlit-folium
pydantic
langchain
tiktoken
#openai==1.6.1
faiss-cpu
transformers
sentence_transformers

langchain_community
langchain_openai
#huggingface_hub
#tokenizers
#mmh3
#snowballstemmer
pyjwt