python-dotenv
streamlit
requests
pandas
streamlit-folium
pydantic
langchain
tiktoken
#openai==1.6.1
faiss-cpu
transformers
sentence_transformers
einops

langchain_community
langchain_openai
langchain_huggingface
#huggingface_hub
#tokenizers
#mmh3
#snowballstemmer
pyjwt
